.pizza-card {
  display: grid;
  grid-template-columns: repeat(6, 250px);
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1200px) {
  .pizza-card {
    grid-template-columns: repeat(4, 250px);
  }
}
@media (max-width: 900px) {
  .pizza-card {
    grid-template-columns: repeat(3, 250px);
  }
}

@media (max-width: 600px) {
  .pizza-card {
    grid-template-columns: repeat(2, 250px);
  }
}

.pizza-card img {
  width: 100%;
  object-fit: cover;
}
.pizza-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.btn {
  width: 100%;
}
.submit-status {
  justify-content: center;
  display: flex;
}
.submitdiv {
  height: 4vh;
  margin: 2vh;
}
