.navbar {
  position: fixed;
  background-color: white;
  height: 9vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  /* margin-bottom: 8vh;    */
}
.navbar a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-size: 20px;
  transition: 0.5s;
  justify-content: space-between;
}

.navbar a:hover {
  opacity: 0.7;
}
.navbar .nav-items {
  display: flex;
  justify-content: space-around;
}
.logo {
  font-weight: bold;
  color: rgb(255, 98, 98);
  text-decoration: none;
}
.logout-btn {
  background-color: rgb(255, 98, 98);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
}
